UK_Nightlife-project/UkNightlife/nbproject/private/retriever/www.reallymoving.com/API/PostcodeAnywhere.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.reallymoving.com/" xmlns:s1="http://services.postcodeanywhere.co.uk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.reallymoving.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.reallymoving.com/">
      <s:import namespace="http://services.postcodeanywhere.co.uk/" />
      <s:element name="FindByPostcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindByPostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindByPostcodeResult" type="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results" nillable="true" type="s1:PostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindExactByPostcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindExactByPostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindExactByPostcodeResult" type="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindByPartialPostcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindByPartialPostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindByPartialPostcodeResult" type="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results" nillable="true" type="s1:PostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindExactByPartialPostcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindExactByPartialPostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindExactByPartialPostcodeResult" type="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoCompleteLocality">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="term" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoCompleteLocalityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoCompleteLocalityResult" type="tns:ArrayOfLocality" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocality">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Locality" nillable="true" type="tns:Locality" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Locality">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PostcodeArea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AutoCompleteLocalityInJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="term" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoCompleteLocalityInJSONResponse">
        <s:complexType />
      </s:element>
      <s:element name="AutoCompleteTowns">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefixText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoCompleteTownsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoCompleteTownsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfPostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results" nillable="true" type="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results" />
      <s:element name="ArrayOfPostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results" nillable="true" type="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results" />
      <s:element name="ArrayOfLocality" nillable="true" type="tns:ArrayOfLocality" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.postcodeanywhere.co.uk/">
      <s:complexType name="PostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Place" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Place" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindByPostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:FindByPostcode" />
  </wsdl:message>
  <wsdl:message name="FindByPostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:FindByPostcodeResponse" />
  </wsdl:message>
  <wsdl:message name="FindExactByPostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:FindExactByPostcode" />
  </wsdl:message>
  <wsdl:message name="FindExactByPostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:FindExactByPostcodeResponse" />
  </wsdl:message>
  <wsdl:message name="FindByPartialPostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:FindByPartialPostcode" />
  </wsdl:message>
  <wsdl:message name="FindByPartialPostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:FindByPartialPostcodeResponse" />
  </wsdl:message>
  <wsdl:message name="FindExactByPartialPostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:FindExactByPartialPostcode" />
  </wsdl:message>
  <wsdl:message name="FindExactByPartialPostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:FindExactByPartialPostcodeResponse" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalitySoapIn">
    <wsdl:part name="parameters" element="tns:AutoCompleteLocality" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalitySoapOut">
    <wsdl:part name="parameters" element="tns:AutoCompleteLocalityResponse" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalityInJSONSoapIn">
    <wsdl:part name="parameters" element="tns:AutoCompleteLocalityInJSON" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalityInJSONSoapOut">
    <wsdl:part name="parameters" element="tns:AutoCompleteLocalityInJSONResponse" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteTownsSoapIn">
    <wsdl:part name="parameters" element="tns:AutoCompleteTowns" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteTownsSoapOut">
    <wsdl:part name="parameters" element="tns:AutoCompleteTownsResponse" />
  </wsdl:message>
  <wsdl:message name="FindByPostcodeHttpGetIn">
    <wsdl:part name="postcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindByPostcodeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results" />
  </wsdl:message>
  <wsdl:message name="FindExactByPostcodeHttpGetIn">
    <wsdl:part name="postcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindExactByPostcodeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results" />
  </wsdl:message>
  <wsdl:message name="FindByPartialPostcodeHttpGetIn">
    <wsdl:part name="postcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindByPartialPostcodeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results" />
  </wsdl:message>
  <wsdl:message name="FindExactByPartialPostcodeHttpGetIn">
    <wsdl:part name="postcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindExactByPartialPostcodeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalityHttpGetIn">
    <wsdl:part name="term" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalityHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLocality" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalityInJSONHttpGetIn">
    <wsdl:part name="term" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalityInJSONHttpGetOut" />
  <wsdl:message name="AutoCompleteTownsHttpGetIn">
    <wsdl:part name="prefixText" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteTownsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="FindByPostcodeHttpPostIn">
    <wsdl:part name="postcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindByPostcodeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results" />
  </wsdl:message>
  <wsdl:message name="FindExactByPostcodeHttpPostIn">
    <wsdl:part name="postcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindExactByPostcodeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPostcode_v1_00_Results" />
  </wsdl:message>
  <wsdl:message name="FindByPartialPostcodeHttpPostIn">
    <wsdl:part name="postcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindByPartialPostcodeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results" />
  </wsdl:message>
  <wsdl:message name="FindExactByPartialPostcodeHttpPostIn">
    <wsdl:part name="postcode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindExactByPartialPostcodeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPostcodeAnywhere_Interactive_FindByPartialPostcode_v1_00_Results" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalityHttpPostIn">
    <wsdl:part name="term" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalityHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLocality" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalityInJSONHttpPostIn">
    <wsdl:part name="term" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteLocalityInJSONHttpPostOut" />
  <wsdl:message name="AutoCompleteTownsHttpPostIn">
    <wsdl:part name="prefixText" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoCompleteTownsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="PostcodeAnywhereServiceSoap">
    <wsdl:operation name="FindByPostcode">
      <wsdl:input message="tns:FindByPostcodeSoapIn" />
      <wsdl:output message="tns:FindByPostcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindExactByPostcode">
      <wsdl:input message="tns:FindExactByPostcodeSoapIn" />
      <wsdl:output message="tns:FindExactByPostcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindByPartialPostcode">
      <wsdl:input message="tns:FindByPartialPostcodeSoapIn" />
      <wsdl:output message="tns:FindByPartialPostcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindExactByPartialPostcode">
      <wsdl:input message="tns:FindExactByPartialPostcodeSoapIn" />
      <wsdl:output message="tns:FindExactByPartialPostcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocality">
      <wsdl:input message="tns:AutoCompleteLocalitySoapIn" />
      <wsdl:output message="tns:AutoCompleteLocalitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocalityInJSON">
      <wsdl:input message="tns:AutoCompleteLocalityInJSONSoapIn" />
      <wsdl:output message="tns:AutoCompleteLocalityInJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteTowns">
      <wsdl:input message="tns:AutoCompleteTownsSoapIn" />
      <wsdl:output message="tns:AutoCompleteTownsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PostcodeAnywhereServiceHttpGet">
    <wsdl:operation name="FindByPostcode">
      <wsdl:input message="tns:FindByPostcodeHttpGetIn" />
      <wsdl:output message="tns:FindByPostcodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FindExactByPostcode">
      <wsdl:input message="tns:FindExactByPostcodeHttpGetIn" />
      <wsdl:output message="tns:FindExactByPostcodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FindByPartialPostcode">
      <wsdl:input message="tns:FindByPartialPostcodeHttpGetIn" />
      <wsdl:output message="tns:FindByPartialPostcodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FindExactByPartialPostcode">
      <wsdl:input message="tns:FindExactByPartialPostcodeHttpGetIn" />
      <wsdl:output message="tns:FindExactByPartialPostcodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocality">
      <wsdl:input message="tns:AutoCompleteLocalityHttpGetIn" />
      <wsdl:output message="tns:AutoCompleteLocalityHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocalityInJSON">
      <wsdl:input message="tns:AutoCompleteLocalityInJSONHttpGetIn" />
      <wsdl:output message="tns:AutoCompleteLocalityInJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteTowns">
      <wsdl:input message="tns:AutoCompleteTownsHttpGetIn" />
      <wsdl:output message="tns:AutoCompleteTownsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PostcodeAnywhereServiceHttpPost">
    <wsdl:operation name="FindByPostcode">
      <wsdl:input message="tns:FindByPostcodeHttpPostIn" />
      <wsdl:output message="tns:FindByPostcodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindExactByPostcode">
      <wsdl:input message="tns:FindExactByPostcodeHttpPostIn" />
      <wsdl:output message="tns:FindExactByPostcodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindByPartialPostcode">
      <wsdl:input message="tns:FindByPartialPostcodeHttpPostIn" />
      <wsdl:output message="tns:FindByPartialPostcodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindExactByPartialPostcode">
      <wsdl:input message="tns:FindExactByPartialPostcodeHttpPostIn" />
      <wsdl:output message="tns:FindExactByPartialPostcodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocality">
      <wsdl:input message="tns:AutoCompleteLocalityHttpPostIn" />
      <wsdl:output message="tns:AutoCompleteLocalityHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocalityInJSON">
      <wsdl:input message="tns:AutoCompleteLocalityInJSONHttpPostIn" />
      <wsdl:output message="tns:AutoCompleteLocalityInJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteTowns">
      <wsdl:input message="tns:AutoCompleteTownsHttpPostIn" />
      <wsdl:output message="tns:AutoCompleteTownsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostcodeAnywhereServiceSoap" type="tns:PostcodeAnywhereServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindByPostcode">
      <soap:operation soapAction="http://www.reallymoving.com/FindByPostcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindExactByPostcode">
      <soap:operation soapAction="http://www.reallymoving.com/FindExactByPostcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByPartialPostcode">
      <soap:operation soapAction="http://www.reallymoving.com/FindByPartialPostcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindExactByPartialPostcode">
      <soap:operation soapAction="http://www.reallymoving.com/FindExactByPartialPostcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocality">
      <soap:operation soapAction="http://www.reallymoving.com/AutoCompleteLocality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocalityInJSON">
      <soap:operation soapAction="http://www.reallymoving.com/AutoCompleteLocalityInJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteTowns">
      <soap:operation soapAction="http://www.reallymoving.com/AutoCompleteTowns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostcodeAnywhereServiceSoap12" type="tns:PostcodeAnywhereServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindByPostcode">
      <soap12:operation soapAction="http://www.reallymoving.com/FindByPostcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindExactByPostcode">
      <soap12:operation soapAction="http://www.reallymoving.com/FindExactByPostcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByPartialPostcode">
      <soap12:operation soapAction="http://www.reallymoving.com/FindByPartialPostcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindExactByPartialPostcode">
      <soap12:operation soapAction="http://www.reallymoving.com/FindExactByPartialPostcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocality">
      <soap12:operation soapAction="http://www.reallymoving.com/AutoCompleteLocality" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocalityInJSON">
      <soap12:operation soapAction="http://www.reallymoving.com/AutoCompleteLocalityInJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteTowns">
      <soap12:operation soapAction="http://www.reallymoving.com/AutoCompleteTowns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostcodeAnywhereServiceHttpGet" type="tns:PostcodeAnywhereServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="FindByPostcode">
      <http:operation location="/FindByPostcode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindExactByPostcode">
      <http:operation location="/FindExactByPostcode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByPartialPostcode">
      <http:operation location="/FindByPartialPostcode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindExactByPartialPostcode">
      <http:operation location="/FindExactByPartialPostcode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocality">
      <http:operation location="/AutoCompleteLocality" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocalityInJSON">
      <http:operation location="/AutoCompleteLocalityInJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteTowns">
      <http:operation location="/AutoCompleteTowns" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostcodeAnywhereServiceHttpPost" type="tns:PostcodeAnywhereServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="FindByPostcode">
      <http:operation location="/FindByPostcode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindExactByPostcode">
      <http:operation location="/FindExactByPostcode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByPartialPostcode">
      <http:operation location="/FindByPartialPostcode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindExactByPartialPostcode">
      <http:operation location="/FindExactByPartialPostcode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocality">
      <http:operation location="/AutoCompleteLocality" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteLocalityInJSON">
      <http:operation location="/AutoCompleteLocalityInJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AutoCompleteTowns">
      <http:operation location="/AutoCompleteTowns" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostcodeAnywhereService">
    <wsdl:port name="PostcodeAnywhereServiceSoap" binding="tns:PostcodeAnywhereServiceSoap">
      <soap:address location="http://www.reallymoving.com/API/PostcodeAnywhere.asmx" />
    </wsdl:port>
    <wsdl:port name="PostcodeAnywhereServiceSoap12" binding="tns:PostcodeAnywhereServiceSoap12">
      <soap12:address location="http://www.reallymoving.com/API/PostcodeAnywhere.asmx" />
    </wsdl:port>
    <wsdl:port name="PostcodeAnywhereServiceHttpGet" binding="tns:PostcodeAnywhereServiceHttpGet">
      <http:address location="http://www.reallymoving.com/API/PostcodeAnywhere.asmx" />
    </wsdl:port>
    <wsdl:port name="PostcodeAnywhereServiceHttpPost" binding="tns:PostcodeAnywhereServiceHttpPost">
      <http:address location="http://www.reallymoving.com/API/PostcodeAnywhere.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>